<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div>
        <form action="/sentences/<%=done._id%>/update/<%=language%>" method="post">
            <input type="text" name="updateTranslation" placeholder="updateTranslation">

            <button type="submit">Update Translation</button>
        </form>
        <ul>
            <li>
                <%=done.sentences%>
                    <br>
                    <%=language%>

            </li>
        </ul>
    </div>
</body>

</html>
